*{
	font-family: 'Exo 2', sans-serif;
	margin: 0px;
	box-sizing: border-box;
}

.fixed{
-webkit-backface-visibility: hidden;
}

main{
	background-color: rgb(247, 234, 217);
	color: rgb(23,31,104);
}

header{
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgb(255, 50, 49);
}


section{
	display: block;
	padding-right: 10%;
	padding-left: 10%;
}

p{
	margin-bottom: 5%;
	}

header a{
	text-decoration: none;
	color: white;
}
header a:hover{
 color: rgb(23,31,104);
}

.hero{
display: flex;
justify-content: space-between;
align-items: center;
height: 90%;

width: 100%
}

.hero h1{
	font-size: 32px;
	display: block;
	margin-left: 5%;
	color: azure;
}

.hero h2{
	display: block;
	margin-right: 5%;
	font-size: 32px;
	text-align: right;
	margin-bottom:0px;
	color:rgb(163, 248, 241);
}

h2{
	font-size: 25px;
	color:rgb(71, 207, 144);
	margin-bottom: 20px;
}
h3{
font-size: 20px;
margin-bottom:15px;
}

nav{
	height: 10%;
	width: 100%;
	background-color:rgb(135,201,195);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	bottom: 0;
}
nav ul{
	display: block;
	position: fixed;
	bottom: 10%;
	right:20px;
	font-size: 50px;
	padding: 4px;
	border: 4px solid azure;
	}
.hidden{
	display: none;
	}
.burger{
	margin-right:20px;
	}
.toggle span{
	box-sizing:none;
	position:relative;
	width: 36px;
	height: 4px;
	display: block;
	margin-top:8px;
	margin-bottom:8px;
	transition: .5s;
	background-color: azure;
}
.toggle span:nth-child(1){
	transform-origin: left;
}
.toggle span:nth-child(2){
	transform-origin: center;
}
.toggle span:nth-child(3){
	transform-origin: left;
	}
.toggle.active span{
	background-color:rgb(255, 50, 49);
	}
.toggle.active span:nth-child(1){
	transform: rotate(45deg);
	left: 2px;
}
.toggle.active span:nth-child(2){
	transform: rotate(315deg);
	right: 2px;
	}
.toggle.active span:nth-child(3){
	transform: scaleX(0);
	}
	
.bio, .projects, footer{
	padding-top: 20px;
}
.bio p{
display: block;
width: 80%;
}
.imageBox{
	display: flex;
	width: 90%;
	margin-right:5%;
	margin-left:5%;
	flex-direction: column;
	}
img{
	height: auto;
	width: 90%;
	margin: 5%;
	align-self: center;
	}
a{
	color: rgb(23,31,154);
	text-decoration:none;
	}
footer{
	padding-bottom: 10%;
	padding-right: 10%;
	padding-left: 10%;
	}

@media screen and (max-width: 719px){
	nav ul{
	background-color: rgb(23,31,154);
	}
	nav a:hover{
	color:rgb(255, 50, 49);
	}
	footer{
	padding-bottom:20%;
	}
}
 
@media screen and (min-width: 720px){
	
	.hero h1{
	margin-left: 15%;
	}
	.hero h2{
	margin-right: 15%;
	}
	
	.hidden{	
	position: relative;
	display: flex;	
	height: 100%;
	justify-content: flex-end;
	align-items: center;	
	border: none;
	font-size: 25px;
	}
	.bigJS{
	position: absolute;
	width: 60%;
	height: auto;
	}
	nav li{	
	margin-right: 15px;	
		}
	.burger{
	display:none;
	}
	.hero h1, .hero h2{
	font-size: 50px;
	}
	.imageBox{
		flex-direction:row;
		}
	img{
		width: 23%;
		}
	h2{
	font-size: 30px;
	}
	h3{
	font-size:25px;
	}
	*{
	font-size: 20px;
	}
}
@media screen and (min-width: 1200px){

	.hero h1, .hero h2{ 
	font-size: 100px;
	}
	h2{
	font-size: 50px;}
	h3{
	font-size:40px;
	}
	*{
	font-size: 30px;
	}
	nav a{
	font-size: 40px;
	}
}
