*{
	font-family: 'Overpass', sans-serif;
	margin: 0px;
	box-sizing: border-box;
	}
header{
	height: auto;
	display: block;
	width: 100%;
	position: fixed;
	
}


.bio{
padding-top: 200px;
}
section{
display: block;}
nav{
	background-color: black;
	color: white;
	width: 100%;
	}
.hero{
display: flex;
justify-content: space-between;
align-items: center;
height: 180px;
	background-color: green;
	width: 100%
	}
.hero h1{
	font-size: 30px;
	display: block;
	}
.hero h2{
	font-size: 20px;
	display: block;
	margin-right: 20px;
	}
	
nav ul{
	display: flex;
	justify-content: flex-end;
	}
nav li{
	margin-right: 15px;
	}
.bio{
	height: 700px}
.projects, footer{
	height: 500px;
	}
.projects{
	background-color: grey;}

	
	